.subtle,
.bold {
    display: grid;
    place-items: center;
}

.subtle {
    background-color: var(--bg);
    box-shadow: var(--shadow-xs);
    color: var(--text-d);
    padding: 2px 6px;
    transition: var(--transition);

    &:hover:not([disabled]) {
        box-shadow: var(--shadow-sm);
    }
}

.svg {
    height: 2rem;
    padding: 0;
    width: auto;

    & > svg {
        color: var(--main-d);
        height: 100%;
        width: 100%;
    }

    &:hover {
        box-shadow: var(--shadow-md);
    }
}

.bold {
    background-color: var(--main-m);
    border: 2px solid transparent;
    border-radius: 2px;
    color: var(--text-l);
    font-weight: bold;
    padding-inline: 6px;

    &:hover:not([disabled]) {
        background-color: color-mix(in srgb, var(--main-m) 80%, white);
    }
}

.search {
    display: grid;
    padding: 2px;
    place-content: center;

    & > svg {
        height: auto;
        width: 1.25rem;
    }
}

.menuWrapper {
    position: absolute;
    right: 0;
    top: 0;
}

.menuButton {
    background-color: transparent;

    & > svg {
        color: var(--faint-d);
        height: auto;
        width: 0.8rem;
    }
}

.menu {
    border: 1px solid var(--faint-l);
    border-radius: 2px;
    box-shadow: var(--shadow-xs);
    display: flex;
    flex-direction: column;
    gap: 4px;
    left: auto;
    padding: 4px 6px;
    position: absolute;
    right: 0;

    & > button {
        font-size: small;

        &:hover {
            color: var(--main-d);
            text-decoration: underline;
        }
    }
}
