.main {
    margin-inline: auto;
    width: var(--main-width);
}

.feed {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 16px;
}

.heading {
    align-items: center;
    display: flex;
    gap: 8px;

    & > img {
        height: auto;
        width: 1.5rem;
    }

    & > h1 {
        font-size: large;
        font-weight: bold;
        line-height: normal;
    }
}

.update {
    border: 1px solid var(--faint-l);
    border-radius: 2px;
    composes: subtle from '../../buttons/css/button.module.css';
    font-size: small;
    margin: 12px auto;
    position: sticky;
    top: 5rem;
    z-index: 100;
}

.posts {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.empty {
    color: var(--faint-d);
    flex: 1;
    font-style: italic;
    margin-top: 48px;
    text-align: center;
}
