.modal {
    border: none;

    &::backdrop {
        background-color: rgba(0, 0, 0, 0.856);
    }
}

.photo {
    border: 16px solid var(--bg);
    box-sizing: border-box;
    display: block;
    max-height: 90svh;
    max-width: 90vw;
    object-fit: contain;
}

.form {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

    & > button {
        align-self: flex-end;
    }
}

.thumbnail {
    border: 1px solid var(--faint-l);
    padding: 6px;
    position: relative;
    transition: var(--transition);

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }

    & > img {
        height: 100%;
        object-fit: cover;
        object-position: center;
        width: 100%;
    }
}

.requirements {
    font-size: small;
}

.error {
    color: var(--error);
    font-weight: bold;
}

.deleteThumbnailOverlay {
    color: var(--bg);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btns {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}