.post {
    display: flex;
    font-size: 0.85rem;
    gap: 8px;
    position: relative;
}

.profilePicture {
    aspect-ratio: 1 / 1;
    height: 64px;
}

.contents {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 6px;

    & a {
        font-weight: bold;
    }

    & > p {
        white-space: pre-wrap;
        word-break: break-word;
    }
}

.top {
    display: flex;

    & > a {
        margin-right: auto;
    }
}

.bottom {
    align-items: center;
    display: flex;
    gap: 6px;
}

.editTextarea {
    box-sizing: border-box;
    height: auto;
    resize: vertical;
    width: 100%;
}

.editFormButtons {
    display: flex;
    gap: 8px;
    margin-left: auto;
}

.timestamp,
.likeButton,
.edited {
    font-size: x-small;
    font-weight: bold;
}

.timestamp, .edited {
    color: var(--faint-d);
}

.edited {
    font-style: italic;
}

.likeButton {
    color: var(--main-d);

    &:hover {
        color: var(--main-l);
    }
}

.newPost {
    border: 1px solid var(--faint-l);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 6px;

    & > textarea {
        resize: none;
    }

    & > button {
        align-self: flex-end;
    }

    & > .error {
        align-self: flex-end;
        color: var(--error);
        font-size: small;
    }
}
