.post {
    display: flex;
    font-size: 0.85rem;
    gap: 8px;
}

.profilePicture {
    aspect-ratio: 1 / 1;
    height: 64px;
}

.contents {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 6px;

    & a {
        font-weight: bold;
    }

    & > p {
        word-break: break-all;
    }
}

.top {
    display: flex;

    & > a {
        margin-right: auto;
    }
}

.menuWrapper {
    position: relative;
}

.menuButton {
    background-color: transparent;

    & > svg {
        color: var(--faint-d);
        height: auto;
        width: 0.8rem;
    }
}

.menu {
    border: 1px solid var(--faint-l);
    border-radius: 2px;
    box-shadow: var(--shadow-xs);
    display: flex;
    flex-direction: column;
    gap: 4px;
    left: auto;
    padding: 4px 6px;
    position: absolute;
    right: 0;

    & > button {
        font-size: small;

        &:hover {
            color: var(--main-d);
            text-decoration: underline;
        }
    }
}

.timestamp,
.likeButton {
    font-size: x-small;
    font-weight: bold;
    margin-right: 8px;
}

.timestamp {
    color: var(--faint-d);
}

.likeButton {
    color: var(--main-d);

    &:hover {
        color: var(--main-l);
    }
}

.newPost {
    border: 1px solid var(--faint-l);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 6px;

    & > textarea {
        resize: none;
    }

    & > button {
        align-self: flex-end;
    }

    & > .error {
        align-self: flex-end;
        color: var(--error);
        font-size: small;
    }
}
