.container {
    align-items: center;
    display: flex;
    gap: 0.75em;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.splash {
    display: grid;
    gap: 32px;
    place-items: center;

    & > img {
        animation: pulse-grow 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
        width: 120px;
    }
}

.spinner {
    animation: spin 1s linear infinite;
}

.text {
    animation: pulse-fade 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    font-size: 1.25rem;
    width: max-content;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes pulse-grow {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@keyframes pulse-fade {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@media (prefers-reduced-motion) {
    .spinner {
        display: none;
    }

    .splash > img {
        animation: none;
    }
}
