.noUser {
    align-items: flex-start;
    background: linear-gradient(
        148deg,
        rgba(3, 62, 52, 1) 0%,
        rgba(37, 89, 80, 1) 26%,
        rgba(42, 119, 103, 1) 52%,
        rgba(55, 149, 128, 1) 79%,
        rgb(113, 192, 172) 100%
    );
    display: flex;
    flex: 1;
    justify-content: center;
}

@media not (prefers-reduced-motion) {
    .noUser {
        animation: breathe 7s ease infinite;
        background-size: 180% 115%;
    }

    @keyframes breathe {
        0% {
            background-position: 0% 83%;
        }
        50% {
            background-position: 85% 25%;
        }
        100% {
            background-position: 0% 83%;
        }
    }
}

.container {
    background-color: var(--bg);
    border-radius: 6px;
    box-shadow: var(--shadow-md);
    display: grid;
    margin-top: 96px;
    padding: 24px;
    place-items: center;
}

.logo {
    color: var(--main-d);
    font-size: xx-large;
    font-weight: bold;
}

.formSelect {
    display: flex;
    gap: 24px;
    margin-block: 24px;
}

.active {
    color: var(--main-d);
    font-weight: bold;
}

.loginSignup {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: min(80vw, 360px);

    & > fieldset {
        display: flex;
        flex-direction: column;
        gap: 18px;

        & > legend {
            color: var(--off-black);
            font-size: medium;
            font-weight: bold;
            margin-bottom: 8px;
            text-align: center;
        }

        & > div {
            display: flex;
            justify-content: space-between;
        }
    }
}

.profilePicture {
    align-items: center;
    color: var(--main-d);
    display: flex;
    font-size: small;
    justify-content: space-between;

    & > input {
        color: initial;
    }
}

.or {
    align-self: center;
}

.githubLogin {
    align-items: center;
    display: flex;
    gap: 8px;
    justify-content: center;

    & > img {
        height: 1.25rem;
        width: 1.25rem;
    }
}

.forgot {
    align-self: flex-end;
    background-color: transparent;
    font-size: smaller;
    font-style: italic;
    margin-top: -12px;

    &:hover {
        text-decoration: underline;
    }
}

.reqs {
    font-size: small;
    font-style: italic;
    margin: 0;
}

.error {
    color: var(--error);
    font-size: small;
    list-style: none;
    margin: 0;
}

.profilePicture ~ .error {
    margin-top: -14px;
}

.demo {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    & > button {
        text-align: center;
        width: 45%;
    }
}
