:root {
    --main-vd: #102721;
    --main-d: #214e46;
    --main-m: #2a7767;
    --main-l: #379580;
    --main-fade-d: #0b201cd7;
    --main-fade-l: #1c3b3860;

    --off-black: #080808;

    --bg: white;

    --text-d: #111111;
    --text-d-hover: #3a3a3a;
    --text-l: #ededed;
    --text-l-hover: #83c7c0;

    --error: #a00000;

    --faint-d: #1d1d1d94;
    --faint-l: #4d4d4d49;

    --shadow-md: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    --shadow-sm: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    --shadow-xs: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

    --transition: 100ms;

    --main-width: min(1000px, 90vw);
}
