.form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 20px;

    &.arrayForm {
        gap: 24px;
    }
}

.handleReqs {
    font-size: small;
}

.entry {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.sectionHeading {
    --padding-from-hr: 8px;

    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;

    & hr {
        border: none;
        border-top: 1px solid var(--faint-d);
        position: absolute;
        width: 100%;
    }

    & :not(hr) {
        background-color: var(--bg);
        z-index: 100;
    }

    & h2 {
        font-weight: bold;
        padding-right: var(--padding-from-hr);
    }

    & button {
        padding-left: var(--padding-from-hr);
    }
}

.hasVisibility {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & > :last-child {
        align-self: flex-end;
    }
}

.remove,
.submit {
    align-self: flex-end;
}

.remove {
    font-size: small;
}

.buttons {
    display: flex;
    justify-content: space-between;

    & > div {
        align-items: center;
        display: flex;
        gap: 12px;
    }
}

.error {
    composes: error from '../../login/css/login.module.css';
}
