.modal {
    border-radius: 5px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    width: min(80vw, 400px);
}

.hasVisibility {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & > :last-child {
        align-self: flex-end;
    }
}

.buttons {
    align-self: flex-end;
    display: flex;
    gap: 8px;
}
