.sectionHeading {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;

    & > h2 {
        font-weight: bold;
    }
}

.gallery {
    --cell-size: 150px;

    display: grid;
    gap: 16px;
    grid-auto-rows: var(--cell-size);
    grid-template-columns: repeat(auto-fit, var(--cell-size));
    margin-top: 16px;
}
