.main {
    display: flex;
    flex: 1;
    gap: 16px;
    margin-block: 16px;
    margin-inline: auto;
    padding: 16px;
    width: var(--main-width);

    & > div:not(.side) {
        flex: 1;
    }
}

.side {
    border-right: 1px solid var(--faint-l);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}

.side > ul > a {
    font-size: small;
}

.profilePicture {
    position: relative;

    & > img {
        aspect-ratio: 1 / 1;
        cursor: pointer;
        width: 100%;
    }

    & > button {
        position: absolute;
        right: 8px;
        top: 8px;
    }

    &.mobile {
        align-self: flex-start;
        width: 128px;
    }
}

.content {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    word-break: break-word;
}

.profileName {
    font-size: x-large;
    font-weight: bold;
    margin-bottom: 6px;

    & > span {
        color: var(--faint-l);
        font-weight: lighter;
    }
}

.tabs {
    display: flex;
    flex-direction: column;
    gap: 4px;

    & > button {
        font-size: small;
        padding: 2px 4px;

        &:hover {
            background-color: var(--faint-l);
        }

        &.activeTab {
            background-color: var(--main-l);
        }
    }

    &.mobile {
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 24px;
    }
}

.respondButtons {
    display: flex;
    gap: 12px;
}

.pending {
    color: var(--faint-d);
    font-style: italic;
}