.summary {
    color: var(--faint-d);
    display: flex;
    flex-direction: column;
    font-size: small;
    gap: 4px;
    margin-block: 10px;
}

.wall {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 16px;
}
