.dropdown {
    background-color: var(--bg);
    border-radius: 4px;
    box-shadow: var(--shadow-sm);
    color: var(--text-d);
    display: flex;
    flex-direction: column-reverse;
    font-size: small;
    gap: 2px;
    position: absolute;
    text-align: left;
}

.accountMenu {
    flex-direction: column;
    padding: 12px;
    right: 8px;

    & > :hover {
        color: var(--main-l);
        text-decoration: underline;
    }
}

.friendRequest {
    display: flex;
    gap: 8px;
    padding: 12px;

    &:hover {
        background-color: var(--main-fade-vl);
    }
}

.text {
    max-width: 180px;
    width: max-content;

    & > span {
        font-weight: bold;
    }
}

.empty {
    color: var(--faint-d);
    font-style: italic;
    padding: 12px;
    text-align: center;
}