.header {
    background-color: var(--main-d);
    box-shadow: var(--shadow-sm);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.contents {
    align-items: center;
    color: var(--text-l);
    display: flex;
    gap: 10px;
    padding: 6px 0 6px 10px;
    position: sticky;
    top: 0;

    & button {
        background-color: transparent;
        border: none;
    }
}

@media (min-width: 1000px) {
    .contents {
        margin-inline: auto;
        max-width: 1000px;
        padding-right: 6px;
    }
}

.logo {
    font-size: large;
    font-weight: bold;
}

.dropdowns {
    display: inline-block;
    position: relative;

    & > button {
        aspect-ratio: 1 / 1;
        color: var(--main-fade-d);
        height: 1rem;
        margin-inline: 4px;
        margin-top: 3px;
        position: relative;

        &:hover {
            color: var(--main-l);
        }

        & > svg {
            height: 100%;
            width: 100%;
        }
    }
}

.search {
    color: var(--text-d);
    width: min(28vw, 360px);
}

.bar {
    align-items: center;
    background-color: var(--main-m);
    display: flex;
    flex: 1;
    font-size: small;
    justify-content: space-between;
    padding: 4px;

    & > form {
        display: flex;
        gap: 4px;
    }
}

.nav {
    font-weight: bolder;
    height: 100%;
}

.nav > a,
.nav > button {
    border-radius: 4px;
    margin-inline: 4px;
    padding: 2px 4px;

    &:hover {
        background-color: var(--main-fade-l);
    }
}

@media (max-width: 550px) {
    .nav > a,
    .nav > button {
        padding-inline: 0;
    }
}

.notificationDot {
    --dot-size: 0.85rem;

    background-color: var(--main-l);
    border-radius: 50%;
    color: var(--text-l);
    display: grid;
    font-size: x-small;
    font-weight: bold;
    height: var(--dot-size);
    place-content: center;
    position: absolute;
    right: -5px;
    top: -5px;
    width: var(--dot-size);
}
